
@media screen and (max-width: 760px) {
    .col3gridbox{
        
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .arrowbox{
        max-width: 220px;
    }
    .arrowbox h1{
        font-size: 20px;
        line-height: 25px;
    }
    
    .bestsellerbox{
        
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px; 
    }
    .skalempirebox{
        
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;   
    }
    .arrowtext{
        max-width: 342px;
    }
    .newyearbox h1{
        font-size: 35px;
        line-height: 42px;
    }
    .col3gridimage h1{
        font-size: 30px;
    }
}

@media all and (min-width:568px) {

    .about_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .about_sec1_icon_prop {
        display: flex;
        gap: 30px;
    }


    .about_prop_p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.025em;
        opacity: 0.75;
        text-align: left;
        color: white;

    }

    .about_sec1_icon_prop {
        margin-top: 25px;
    }

    .about_sec1-text1 {
        /* identical to box height */
        text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.35);
    }

    .about_sec1-text2 {


        letter-spacing: 0.025em;
    }

    .about_prop {
        margin-top: 20px;
    }


    

    

    .about_images {
        

    }

    .why_buy_bgImg {
        
        
    }
    
    .about_prop{
        padding: 0px 40px !important;

    }




}


