
@media screen and (max-width: 760px) {
    .col3gridbox{
        
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .bestsellerbox{
        
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px; 
    }
    .skalempirebox{
        
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px;   
    }
    .arrowtext{
        max-width: 342px;
    }
    .newyearbox h1{
        font-size: 35px;
        line-height: 42px;
    }
    .col3gridimage h1{
        font-size: 30px;
    }
}



@media all and (min-width:568px) {
    .viking_main {
        text-align: center;
    }

    .viking_h1 {
        Font-family: "Felix Titling MT";
        Font-style: "Regular";
        Font-size: 75px;

    }

    .viking_bg {
        background-image: url('./images/vikingbg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 700px;
        background-size: cover;
    }

    .viking_sec1 {
        display: flex;
    }

    .viking_sec2 {
        display: flex;
    }


    .viking_sec1_img {
        max-width: 300px;
    }

    .viking_sec1_p {
        Font-family: Open Sans;
        Font-style: Regular;
        Font-size: 18px;
        margin-top: 10%;
    }
    .viking_sec1_pp {
        text-align: right;
    }

    .viling_main_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40%;
        /* row-gap: 25%; */
        padding: 120px 30px;
    }

    .viking_sec_bottom {
        display: flex;

        /* gap: 312px; */
        margin-top: 6%;
        gap: 35%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .viking_p2 {
        text-align: right;
    }
}
